.img {
  width: 100%;
  height: 4.5rem;
  object-fit: cover;
}

.sidebar {
  min-width: 16rem;
  min-height: 18.4rem;
  background-color: var(--gray-800);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerImg {
  width: 100%;
  height: 72px;
}

.headerImg img {
  object-fit: cover;
  height: 100%;
}

.profile Avatar {
  display: none;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -2.1875rem;
}

.profileDescription {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.profileDescription span {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.profile img {
  border-radius: 0.5rem;
  width: 100%;
}

.sidebar footer {
  width: 100%;
  /* margin-top: 24px; */
  border-top: 0.0625rem solid var(--gray-600);
  padding: 32px;
}

.sidebar footer a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: fit-content;
  align-items: center;
  justify-content: center;
  color: var(--green-500);
  padding: 1rem 1.5rem 0.875rem 1.5rem;
  border: 0.0625rem solid var(--green-500);
  border-radius: 0.625rem;
  gap: 0.625rem;
  text-decoration: none;
  transition: background-color ease-in 300ms;
  font-weight: 600;
  /* transition: color ease-in 100ms; */
}

.sidebar footer a:hover {
  background-color: var(--green-500);
  color: var(--gray-700);
}
